/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}

/*----start-post-grids----*/

.post-basic-info{
	padding: 7% 7% 5% 7%;
}
.post-basic-info h3 a{
	color: #717171;
	font-size: 1.2em;
	margin-bottom: 0.2em;
	display: block;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
.post-basic-info h3 a:hover{
	color:#B9CB41;
}
.post-basic-info span a{
	color:#ACAAAA;
	font-size:0.9em;
}
.post-basic-info span a label{
	height:12px;
	width:12px;
	display:inline-block;
	margin-right: 0.4em;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
.post-basic-info span a:hover{
	color:#B9CB41;
}
.post-basic-info p{
	font-size: 0.875em;
	color: #B7B5B5;
	margin: 0.6em 0;
	line-height: 1.5em;
}
/*--post-info-rate-share--*/
.post-info-rate-share{
	border-top: 1px solid rgba(183, 181, 181, 0.36);
	padding: 4% 0 2%;
}
.rateit{
	float:left;
	margin: 0.18em 0 0 1em;
}
.post-share{
	float:right;
	margin-right:1.5em;
}
.wrap{
	width:80%;
	margin:0 auto;
}

